.article pre {
	background-color: rgb(38,38,38);
	border-radius: 5px;
	border: 1px solid rgb(0,0,0);
}

.article pre code {
	color: rgb(200,200,200);
	background-color: rgb(38,38,38);
	padding: 0px;
  border-radius: 0px;
	border: 0px;
}

.kr {
  color: #63b6e7;
}

.c1 {
	color: #747474;
}

.nt {
	color: #4bcbd3;
}

.s {
  color: #acaaff;  	
}

.m {
	color: #acaaff;
}

.l {
	color: #acaaff;
}

.p {
	color: gray;
}

.nf {
	color: gray;
}

.s2 {
	color: #acaaff;
}