/* 
 * overwrite the current primary color of the 
 * theme that is used as fallback in codeblocks 
 */
.article pre code {
	color: rgb(200,200,200);
}

.kr {
  color: #63b6e7;
}

.c1 {
	color: #747474;
}

.nt {
	color: #4bcbd3;
}

.s {
  color: #acaaff;  	
}

.m {
	color: #acaaff;
}

.l {
	color: #acaaff;
}

.p {
	color: gray;
}

.nf {
	color: gray;
}